/target/
/build/

.idea/

*.iml

.gradle/5.1.1/executionHistory/

*.bin

*.lock

.gradle/5.1.1/gc.properties

.gradle/buildOutputCleanup/

src/test/resources/non-commit-data.txt

src/test/resources/non-commit.txt

logs/
