<configuration>

    <property name="HOME_LOG" value="logs/frosk-analyzer.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/frosk-analyzer.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %-5.5p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d %-5.5p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.cfg" level="warn">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.hibernate.type.BasicTypeRegistry" level="warn">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.hibernate.engine.internal" level="warn">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.springframework" level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <!-- Comment out the below lines if you want all HTTP requests to be automatically logged!
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    -->

<!--
    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
-->

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>


    <springProfile name="local">
        <logger name="org.hibernate.SQL" level="debug"/>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
